* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.bottom-container {
    display: flex;
    width: 100vw;
}
